<h1> Links </h1>
<p><a href="/links/new">Add Link</a></p>
<p><a href="/users/new">Sign up</a></p>
<p><a href="/sessions/new">Existing User? Sign in</a></p>

<ul id="links">
<% @links.each do |link| %>
	<li>
		Title: <%= link.title %>
		URL:   <%= link.url   %>
	</li>
<% end %>
</ul>




