<h2> Please submit your link! </h2>

<form action= '/links' method= 'POST'>
	Title:
	<input type="text" name="url" required>
	URL:
	<input type="text" name="title" required>
	Tags:
	<input type="text" name="tag">
	<input type="submit" value="Create Link">
</form>
